header.header
    ul.header__menu
        li(data-type='about') ABOUT
        li(data-type='skills') SKILLS
        li(data-type='portfolio') PORTFOLIO
        li(data-type='footer') CONTACT

    h5.header__title DIGITAL PORTFOLIO
