header.header
    ul.header__menu
        li(data-type='about') ABOUT
        li(data-type='skills') SKILLS
        li(data-type='portfolio') PORTFOLIO
        li(data-type='footer') CONTACT

    .header__elements
        .theme-btn.js-theme-btn
            .theme-btn__moon
                .theme-btn__moon-point
                .theme-btn__moon-point
                .theme-btn__moon-point
                .theme-btn__moon-point
                .theme-btn__moon-point
                .theme-btn__moon-point
                .theme-btn__moon-point
                .theme-btn__moon-point-white
            .theme-btn__dark
                .theme-btn__star
                .theme-btn__star
                .theme-btn__star
                .theme-btn__star
                .theme-btn__star

            .theme-btn__cloud-wrapper
                .theme-btn__cloud-item
                    span
                    span
                    span
                    span


        h5.header__title DIGITAL PORTFOLIO

