section.section-agents.js-parallax-container-agents(id="agents")
    .section-agents__wrapper
        .section-agents__title-wrapper(data-title="AGENTS")
            h2.section-agents__title.title-close.js-title-agents-animation AGENTS
        .section-agents__content
            .section-agents__photo
                span.js-one-main-decor-agents CHECK ALL AGENTS
                img.js-main__photo-agents(src="img/agent.png" alt="agent")
            .section-agents__text
                p Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush. Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush.
                .button__wrapper
                    button
                p Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush. Blend your style and experience on a global, competitive stage. You have 13 rounds to attack and defend your side using sharp gunplay and tactical abilities. And, with one life per-round, you'll need to think faster than your opponent if you want to survive. Take on foes across Competitive and Unranked modes as well as Deathmatch and Spike Rush.

        - title = 'AGENTS'
        include ../linedecor/linedecor.pug