nav.nav
    .nav__wrapper
        ul.nav__links.js-nav-links
            li
                a(href="#about") ABOUT
            li
                a(href="#agents") AGENTS
            li
                a(href="#maps") MAPS
            li
                a(href="#guns") GUNS

        .nav__btn.js-nav-btn
            span
            span
            span
