@media only screen and (max-width: 809px) {
    .main_h {
        padding-top: 25px;
    }

    nav {
        width: 100%;
    }

    .logo {
        width: 25%;
    }

    .logo img {
        width: 100%;

    }

    nav ul {
        display: none;
    }

    .open-nav .logo {
        width: 30%;
        margin-left: 5%;
    }

    .open-nav ul {
        padding-top: 10px;
        margin-bottom: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
    }

    nav ul li {
        display: block;
        width: 50%;
        padding: 7px 0;
        margin: 0;
    }

    nav ul a {
        width: 40%;
        padding: 0% 20%;
        margin: 0%;
        background-color: #a86e4db6;
    }

    .mobile-toggle {
        display: block;
    }

    .hero h1 {
        font-size: 40px;
    }

    .acquaintance__heading h2 span {
        display: none;
    }

    .order {
        width: 100%;
    }

    .order .order__text_price {
        width: 100%;
    }

    .order .order__text_price {
        width: 100%;
        flex-direction: column;
    }

    .reviews .reviews__slider .slideshow-container q {
        font-size: 20.1px;
    }

    .reviews .reviews__slider .slideshow-container .author {
        font-size: 15px;
    }

    .pop-up__piece .pop-up__piece_block .pop-up__piece_text {
        flex-direction: column;
    }

    .pop-up__wholesale .pop-up__wholesale_block .pop-up__wholesale_text {
        flex-direction: column;
    }

    .pop-up__wholesale .pop-up__wholesale_block .pop-up__wholesale_text button {
        width: 100%;
    }

}

@media only screen and (max-width: 1120px) {
    .acquaintance {
        width: 100%;
        margin: 0%;
        padding: 5% 0%;
        background-color: #635144;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .acquaintance .acquaintance__text {
        width: 80%;
        padding: 3%;
        background-color: #443731;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    .acquaintance .acquaintance__photo {
        margin-top: 2%;
        width: 40%;
        display: flex;
        flex-wrap: wrap;
    }

    .acquaintance__heading h2 {
        line-height: 39px;
        font-weight: 200;
    }

    .acquaintance__heading h2 span {
        width: 50%;
    }

    .product .product___block_scandinavian {
        flex-direction: column;
    }

    .product .product___block_american {
        flex-direction: column;
    }

    .product .product___block_urban {
        flex-direction: column;
    }

    .product .product___block_photo {
        margin-bottom: 10%;
    }

    .product___block_text {
        width: 90%;
    }

    .product .product___block_text h3 {
        font-size: 24px;
        font-weight: 300;
    }

    .product .product___block_text p {
        font-size: 20px;
        font-weight: 200;
    }

    .product .product___block_photo {
        width: 20%;
        margin-top: 10%;
    }

    .acquaintance__heading {
        width: 80%;
    }

    .acquaintance__heading h2 {
        font-size: 25.9px;
    }

    .sales .sales__text .sales__text_heading h2 {
        font-size: 25.9px;
    }

    .sales .sales__text .sales__text_article p em {
        font-size: 20px;
        font-weight: 200;
    }

    .order .order__text_heading h2 {
        font-size: 25.9px;
    }

    .order .order__text_article p {
        font-size: 23px;
        font-weight: 200;
    }

    .order .order__text_price {
        width: 80%;
        flex-direction: column;
    }

    .order .order__text_price .order__text_price_1,
    .order .order__text_price .order__text_price_2 {
        width: 50%;
        margin-left: 25%;
    }

    .order .order__text_price .order__text_price_2 {
        margin-top: 5%;
    }

    .reviews .reviews__slider .slideshow-container {
        width: 95%;
    }


    .pop-up__piece .pop-up__piece_block {
        width: 80%;
    }

    .pop-up__piece .pop-up__piece_block .pop-up__piece_scrin {
        flex-direction: column;
        min-height: auto;
    }

    .pop-up__piece .pop-up__piece_block .pop-up__piece_scrin .pop-up__piece_scrin_photo {
        display: none;
    }

    .pop-up__piece .pop-up__piece_block .pop-up__piece_scrin .pop-up__piece_scrin_text {
        flex-direction: column;
        width: 100%;
    }

    .pop-up__piece .pop-up__piece_block .pop-up__piece_text button {
        font-family: Calibri;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        color: #dfdfdf;
        width: 100%;
        text-align: center;
    }

    .pop-up__wholesale .pop-up__wholesale_block .pop-up__wholesale_scrin {
        flex-direction: column;
        min-height: auto;
    }

    .pop-up__wholesale .pop-up__wholesale_block .pop-up__wholesale_text button {
        font-family: Calibri;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        color: #dfdfdf;
        width: 100%;
        text-align: center;
    }

    .pop-up__wholesale .pop-up__wholesale_block .pop-up__wholesale_scrin h3 {
        font-size: 20px;
    }

    .pop-up__wholesale .pop-up__wholesale_block .pop-up__wholesale_scrin .pop-up__wholesale_scrin_form label {
        font-size: 15px;
        margin: 3% 0%;
    }
}

@media only screen and (max-width: 809px) {
    .order .order__text_price {
        width: 90%;
        margin: 0%;
        padding-left: 3%;
    }

    .order .order__text_price .order__text_price_1,
    .order .order__text_price .order__text_price_2 {
        width: 100%;
        margin: 4% 0%;
    }

    .order .order__text_price .order__text_price_1 ul li,
    .order .order__text_price .order__text_price_2 ul li {
        border-bottom: 1px solid black;
    }

    .pop-up__wholesale .pop-up__wholesale_block .pop-up__wholesale_scrin {
        flex-direction: column;
        min-height: 60vh;
    }

    .pop-up__wholesale .pop-up__wholesale_block .pop-up__wholesale_scrin .pop-up__wholesale_scrin_form {
        height: auto;
    }

    .pop-up__wholesale .pop-up__wholesale_block .pop-up__wholesale_scrin .pop-up__wholesale_scrin_form label {
        width: 80%;
    }
}

@media only screen and (max-width: 360px) {
    .reviews .reviews__slider .slideshow-container q {
        font-size: 15.1px;
    }

    .reviews .reviews__slider .slideshow-container .author {
        font-size: 12px;
    }
}

/* iPhone 6+ ----------- */
@media only screen and (max-width: 336px) {

    .acquaintance .acquaintance__text .acquaintance__text_heading h2 span {
        display: none;
    }


    .acquaintance__heading h2 span {
        border: 1px solid #ffffff;
        width: 20%;
    }

    .sales .sales__text .sales__text_heading span {
        display: none;
    }

    .pop-up__piece .pop-up__piece_block .pop-up__piece_scrin .pop-up__piece_scrin_form p label {
        width: 50%;
    }
}