@media only screen and (max-width: 1224px) {
    .close {
        left: -30%;
    }

    .charts .charts__chart div {
        min-width: 40%;
      }

}

@media only screen and (max-width: 1000px) {
    .close {
        left: -35%;
    }


}

@media only screen and (max-width: 900px) {
    nav .menu {
        padding-right: 10%;
    }

    header .text .text__title-1 {
        font-size: 30px;
    }

    header .text .text__title-main {
        font-size: 85px;
    }

    header .text .text__title-2 {
        font-size: 25px;
    }

    .charts .charts__chart {
        flex-direction: column;
        margin: 0% auto;
      }
      
      .charts .charts__chart div {
        width: 90%;
        margin: 0% auto;
      }
}

@media only screen and (max-width: 768px) {
    nav .menu {
        padding-right: 15%;
    }

    .whatCan h2, .charts h2, .myWork h2, .process h2, .offer h2 {
        font-size: 35px;
    }

    .whatCan .whatCan__main .whatCan__main-text h3 {
        font-size: 25px;
      }
      
      .whatCan .whatCan__main .whatCan__main-text li {
        font-size: 20px;
      }

      .process .process__main {
        width: 95%;
        margin: 0% auto;
        flex-direction: column;
      }
      
      .process .process__main div {
        width: 50%;
        margin-bottom: 3%;
      }

      .process .process__main .process__main-bord {
          display: none;
      }

      .offer .offer__main {
        width: 95%;
      }
      
      .offer .offer__main .offer__main__info {
        width: 40%;
      }
}

@media only screen and (max-width: 650px) {

    nav .menu ul li a {
        font-size: 20px;
    }

    nav .menu span {
        font-size: 15px;
        margin-left: 3%;
    }

    .offer .offer__main .offer__main__info h3 {
        font-size: 25px;
      }
      
      .offer .offer__main .offer__main__info ul {
        font-size: 15px;
      }
}

@media only screen and (max-width: 550px) {
    nav .menu {
        padding-right: 20%;
    }

    nav .menu ul li a {
        font-size: 15px;
    }

    nav .menu span {
        font-size: 10px;
        margin-left: 1%;
    }

    nav .button {
        margin-left: 25%;
    }

    header .text .text__title-1 {
        font-size: 25px;
    }

    header .text .text__title-main {
        font-size: 65px;
    }

    header .text .text__title-2 {
        font-size: 20px;
    }

    .whatCan h2, .charts h2, .myWork h2, .process h2, .offer h2 {
        font-size: 25px;
    }

    .whatCan .whatCan__main .whatCan__main-text h3 {
        font-size: 20px;
      }
      
      .whatCan .whatCan__main .whatCan__main-text li {
        font-size: 15px;
      }
}

@media only screen and (max-width: 400px) {

    header .text .text__title-1 {
        font-size: 20px;
    }

    header .text .text__title-main {
        font-size: 45px;
    }

    header .text .text__title-2 {
        font-size: 15px;
    }

    .whatCan .whatCan__main {
        width: 95%;
        flex-direction: column;
    }

    .whatCan .whatCan__main .whatCan__main-text {
        width: 90%;
        border-right: none;
        margin: 0% auto;
      }

      .whatCan .whatCan__main .whatCan__main-text h3 {
        margin: 1% 0%;
      }
      
      .whatCan .whatCan__main .whatCan__main-text ul {
        margin-top: 0%;
      }
      
      .whatCan .whatCan__main .whatCan__main-text li {
        margin-top: 0%;
      }
      
      .charts .charts__chart {
        margin: 0% auto;
        width: 100%;
      }

      .charts .charts__chart div {
        width: 100%;
      }

      .myWork .myWorks__examples {
        width: 90%;
        margin: 0% auto;
      }

      
      .offer .offer__main .offer__main__info {
        width: 50%;
      }

      .offer .offer__main .offer__main__info h3 {
        font-weight: 100;
      }
      
      .offer .offer__main .offer__main__info ul {
        font-size: 13px;
        font-weight: 400;
      }
      
}

@media only screen and (max-width: 375px) {
      .charts .charts__chart {
        margin: 0% auto;
        width: 100%;
      }

      .charts .charts__chart div {
        width: 100%;
      }

      footer .footerMain .footerMain__block p {
        font-size: 15px;
      }

      nav .menu {
        padding-right: 3%;
    }
}