@font-face {
	font-family: 'Bebas-Neue';
	src: url('../fonts/BebasNeue Bold.eot');
	src: local('☺'), url('../fonts/BebasNeue Bold.woff') format('woff'), url('../fonts/BebasNeue Bold.ttf') format('truetype'), url('../fonts/BebasNeue Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('../fonts/Comfortaa-Bold.eot');
	src: local('☺'), url('../fonts/Comfortaa-Bold.woff') format('woff'), url('../fonts/Comfortaa-Bold.ttf') format('truetype'), url('../fonts/Comfortaa-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.eot');
	src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

* {
  margin: 0%;
  padding: 0%;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/computer_header.jpg);
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
}

header .text {
  width: 90%;
  margin-left: 6%;
  color: #d2d2d0;
}

header .text .text__title-1 {
  margin: 0%;
  padding: 0%;
  font-family: 'Bebas-Neue';
  font-size: 40px;
}

header .text .text__title-main {
  margin: 0%;
  padding: 0%;
  font-family: 'Bebas-Neue';
  font-size: 105px;
  text-transform: uppercase;
}

header .text .text__title-2 {
  margin: 0%;
  padding: 0%;
  font-family: 'Bebas-Neue';
  font-size: 35px;
  text-transform: uppercase;
}

header .text .text__title-1::selection, header .text .text__title-2::selection{
  color: #d2d2d0;
  background-color: rgb(78, 77, 77);
}

header .text .text__title-main::selection{
  color: #a0a0a0;
  background-color: rgb(173, 173, 173);
}

.whatCan {
  margin: 0%;
  padding: 3% 0%;
  width: 100%;
}

.whatCan h2 {
  text-align: right;
  margin-right: 5%;
  margin-bottom: 5%;
  font-family: "Comfortaa";
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
}

.whatCan .whatCan__main {
  width: 85%;
  margin: 0 auto;
  padding: 0%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
}

.whatCan .whatCan__main .whatCan__main-text {
  width: 20%;
  padding: 5% 2.5%;
  margin: 0%;
  border-right: 2px solid #000000;
}

.whatCan .whatCan__main .whatCan__main-text:last-child {
  border-right: none;
}

.whatCan .whatCan__main .whatCan__main-text h3 {
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  margin: 3% 0%;
  text-align: center;
}

.whatCan .whatCan__main .whatCan__main-text ul {
  text-align: left;
  margin-top: 20%;
}

.whatCan .whatCan__main .whatCan__main-text li {
  list-style-type: none;
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  margin-top: 5%;
}

.charts {
  width: 100%;
  margin: 0%;
  padding: 3% 0%;
}

.charts h2 {
  font-family: "Comfortaa";
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  text-align: left;
  margin: 4% 8%;
}

.charts .charts__chart {
  padding: 0%;
  margin: 0% auto;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.charts .charts__chart div {
  width: 50%;
}

.charts .charts__chart div h3 {
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  margin: 3% 0%;
  text-align: center;
}

.myWork {
  width: 100%;
  margin: 0%;
  padding: 3% 0%;
}

.myWork h2 {
  font-family: "Comfortaa";
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  text-align: right;
  margin: 4% 8%;
}

.myWork .myWorks__examples {
  width: 85%;
  margin: 0% auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 25px;
}

.myWork .myWorks__examples div {
  width: 300px;
  height: 300px;
  border: 4px solid #000000;
  text-align: center;
  background-size: 60%;
  background-position: center center;
  background-repeat: no-repeat;
}

.myWork .myWorks__examples div:nth-child(1) {
  background-image: url(../img/logoZoo.png);
}

.myWork .myWorks__examples div:nth-child(2) {
  background-image: url(../img/logo_moto.png);
}

.myWork .myWorks__examples div:nth-child(3) {
  background-image: url(../img/logo_restoran.png);
}

.myWork .myWorks__examples div:nth-child(4) {
  background-image: url(../img/icon_coffe.png);
}

.myWork .myWorks__examples div:nth-child(5) {
  background-image: url(../img/logo_tesla.png);
}

.myWork .myWorks__examples div a {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Comfortaa";
  font-size: 25px;
  line-height: 1.4;
  font-weight: 800;
  color: #ffffff;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.363);
}

.myWork .myWorks__examples div:hover a {
  display: flex;
}

.process {
  width: 100%;
  margin: 0%;
  padding: 5% 0%;
}

.process h2 {
  font-family: "Comfortaa";
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  text-align: left;
  margin: 4% 8%;
}

.process .process__main {
  width: 90%;
  margin: 5% auto;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.process .process__main div {
  width: 14%;
}

.process .process__main .process__main-number {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.process .process__main .process__main-number span {
  width: 100px;
  height: 100px;
  border: 2px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-family: 'Roboto';
  font-size: 48px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
}

.process .process__main .process__main-bord {
  border: 2px solid #000000;
  height: 0px;
  margin-bottom: 2%;
}

.process .process__main .process__main-number p {
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
}

.offer {
  width: 100%;
  margin: 0%;
  padding: 0% 0%;
}

.offer h2 {
  font-family: "Comfortaa";
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #000000;
  text-align: right;
  margin: 4% 8%;
}

.offer .offer__main {
  width: 85%;
  margin: 0% auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 30px;
}

.offer .offer__main .offer__main__info {
  width: 30%;
}

.offer .offer__main .offer__main__info h3 {
  font-family: 'Roboto';
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.offer .offer__main .offer__main__info ul {
  font-family: Roboto;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 800;
  color: #000000;
  margin-top: 7%;
}

.offer .offer__main .offer__main__info ul li {
  list-style-type: none;
  margin-top: 3%;
}

footer {
  width: 100%;
  margin: 4.5% 0% 0% 0%;
  padding-top: 8%;
  padding-bottom: 5%;
  background-color: #000000;
}

footer .footerMain {
  width: 90%;
  margin: 0% auto;
  padding: 0%;
  display: flex;
  flex-direction: row;
}

footer .footerMain .footerMain__block {
  width: 30%;
}

footer .footerMain .footerMain__block p {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

footer .footerMain .footerMain__block p:nth-child(2){
  margin-top: 5%;
}

nav{
  margin: 0%;
  padding: 0%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 1000;
  top: 0%;
  transition: 0.8s ease-in-out;
}

.close{
  left: -25%;
}

.open{
  left: 0%;
}

nav .button{
  min-width: 80px;
  max-height: 80px;
  background-color: #000000;
  border-radius: 40px;
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}

nav .button:hover{
  cursor: pointer;
}

nav .button span{
  display: block;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  padding: 0%;
  transition: 0.8s ease-in-out;
}

.close .button span{
  margin: 8px;
}

.open .button{
  position: relative;
}

.open .button span{
  margin: 0%;
  position: absolute;
}

.open .button span:nth-child(1){
  transform: rotate(45deg);
}

.open .button span:nth-child(2){
  transform: rotate(-45deg);
}


nav .menu{
  background-color: hsla(0, 2%, 12%, 0.973);
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-right: 35%;
}

nav .menu ul{
  margin-left: 5%;
}

nav .menu ul li{
  list-style-type: none;
  padding: 2%;
}

nav .menu ul li a{
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 25px;
  line-height: 1.2;
  font-weight: 300;
  color: #d4d4d4;
}

nav .menu ul li a:hover{
  color: #ffffff;
}

nav .menu span{
  margin-top: 55%;
  font-family: Roboto;
  font-size: 20px;
  color: #000000;
  margin-left: 5%;
}

nav .menu span::selection{
  background-color: rgb(255, 255, 255);
  color: #000000;
}



::-webkit-scrollbar {
  width: 10px; /* ширина для вертикального скролла */
  height: 8px; /* высота для горизонтального скролла */
  background-color: #3f3f3f;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #9e9d9d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(121, 120, 120);
}

section h2::selection{
  color: #ffffff;
  background-color: rgb(78, 77, 77);
}

section h3::selection{
  color: #dddcdc;
  background-color: rgb(122, 120, 120);
}

section p::selection, section li::selection, section span::selection{
  color: #b4b4b4;
  background-color: rgb(0, 0, 0);
}

footer p::selection{
  color: #000000;
  background-color: rgb(243, 243, 243);
}


nav a::selection{
  color: #000000;
  background-color: rgb(243, 243, 243);
}



#preloader {
  position: fixed;
  min-height: 100vh;
  background-color: #ffffff;
  z-index: 1300;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preloader .preloader__block{
  width: 250px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

#preloader .preloader__block img {
  position: absolute;
  width: 100%;
  animation: animaPrel 4s linear infinite;
}

#preloader .preloader__block h2 {
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 120px;
  text-align: center;
  z-index: 1111;
  font-family: 'Roboto';
  font-size: 50px;
  line-height: 1.2;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

@keyframes animaPrel {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
} 

.preloader_end{
  animation: animaPrelEnd 0.8s linear infinite;
}

@keyframes animaPrelEnd {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}