@media only screen and (max-width: 1224px) {

    .close {
        left: -270px;
    }

    .charts__chart div {
        min-width: 40%;
    }

}

@media only screen and (max-width: 900px) {

    header .text .text__title-1 {
        font-size: 30px;
    }

    header .text .text__title-main {
        font-size: 85px;
    }

    header .text .text__title-2 {
        font-size: 25px;
    }

    .charts__chart {
        flex-direction: column;
        margin: 0% auto;
      }
      
      .charts__chart div {
        width: 90%;
        margin: 0% auto;
      }
}

@media only screen and (max-width: 768px) {

    .what-can__main {
        flex-direction: column;
    }

    .what-can h2, .charts h2, .my-work h2, .process h2, .offer h2 {
        font-size: 35px;
    }

    .what-can__main-text {
        border: none;
        width: 100%;
    }

    .what-can__main-text h3 {
        font-size: 25px;
      }
      
      .what-can__main-text li {
        font-size: 30px;
      }

      .process__main {
        width: 95%;
        margin: 0% auto;
        flex-direction: column;
      }
      
      .process__main div {
        width: 50%;
        margin-bottom: 3%;
      }

      .process__main-bord {
          display: none;
      }

      .offer__main {
        width: 95%;
      }
      
      .offer__main__info {
        width: 40%;
      }
}

@media only screen and (max-width: 650px) {

    .menu li a {
        font-size: 20px;
    }

    .menu span {
        font-size: 15px;
        margin-left: 3%;
    }

    .offer__main__info h3 {
        font-size: 25px;
      }
      
      .offer__main__info ul {
        font-size: 15px;
      }
}

@media only screen and (max-width: 550px) {

    .menu span {
        font-size: 20px;
        margin-left: 2%;
    }

    header .text .text__title-1 {
        font-size: 25px;
    }

    header .text .text__title-main {
        font-size: 65px;
    }

    header .text .text__title-2 {
        font-size: 20px;
    }

    .what-can h2, .charts h2, .my-work h2, .process h2, .offer h2 {
        font-size: 25px;
    }

    .what-can__main-text h3 {
        font-size: 20px;
    }
      
    .what-can__main-text li {
       font-size: 25px;
     }

    .offer__main {
        flex-direction: column;
        margin-top: 30px;
    }

    .offer__main__info {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .close {
        left: -230px;
    }

    .menu {
        width: 230px;
    }

    .menu span {
        font-size: 18px;
        margin-left: 2%;
    }

    .menu li a {
        font-size: 18px;
    }

    .button {
        width: 70px;
        height: 70px;
    }

    header .text .text__title-1 {
        font-size: 20px;
    }

    header .text .text__title-main {
        font-size: 45px;
    }

    header .text .text__title-2 {
        font-size: 15px;
    }

    .what-can__main {
        width: 95%;
        flex-direction: column;
    }

    .what-can__main-text {
        width: 90%;
        border-right: none;
        margin: 0 auto;
      }

      .what-can__main-text h3 {
        margin: 1% 0;
      }
      
      .what-can__main-text ul {
        margin-top: 0;
      }
      
      .what-can__main-text li {
        margin-top: 0;
        font-size: 18px;
      }
      
      .charts__chart {
        margin: 0 auto;
        width: 100%;
      }

      .charts__chart div {
        width: 100%;
      }

      .my-works__examples {
        width: 90%;
        margin: 0% auto;
      }

      
      .offer__main__info {
        width: 100%;
      }

     .offer__main__info h3 {
        font-weight: 100;
      }
      
      .offer__main__info ul li{
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
      }
      
}

@media only screen and (max-width: 375px) {
      .charts__chart {
        margin: 0% auto;
        width: 100%;
      }

      .charts__chart div {
        width: 100%;
      }

      .footerMain__block p {
        font-size: 15px;
      }
}