@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media only screen and (max-width: 1224px) {


    section .parallax .parallax__photo {
        width: 70%;
        height: 100%;
    }

    section .parallax .parallax__photo img {
        width: 100%;
        margin: 10% 0% 0% 0%;
    }
    
}

@media only screen and (max-width: 900px) {
    #section1 h2 {
        font-size: 40px;
    }

    #section1 h2 span {
        font-size: 19px;
    }

    .section section .posts__blocks .posts__blocks__elem div img {
        width: 50%;
        display: block;
        margin: 0% auto;
    }

    .section section .posts__blocks .posts__blocks__elem div h3 {
        font-size: 20px;
    }

    .section section .posts__blocks .posts__blocks__elem div p {
        font-size: 15px;
    }

    .section section .posts__blocks {
        flex-wrap: wrap;

    }

    .section section .posts__blocks .posts__blocks__elem {
        width: 40%;
    }

    .section main .menu__part1 .menu__part1__title h2 {
        font-size: 50px;
    }

    .section main .menu__part1 .menu__part1__title h2 span {
        font-size: 25px;
    }

    .section main .menu__part1 .menu__part1__text h3 {
        font-size: 25px;
    }

    .section main .menu__part1 .menu__part1__text p {
        font-size: 18px;
    }

    .section main .menu__part2 .menu__part2__text h3 {
        font-size: 25px;
    }

    .section main .menu__part2 .menu__part2__text p {
        font-size: 18px;
    }

    .section main a {
        font-size: 25px;
        width: 35%;
        margin-top: 15%;
    }

    section .parallax .parallax__photo {
        display: none;
    }

    section .parallax .parallax__text {
        width: 80%;
        margin-top: 0%;
    }

    section .parallax {
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .section article .photo {
        display: none;
    }

    .section article .article {
        width: 95%;
        height: 80%;
    }

    .section main .menu__part1 .menu__part1__title h2 {
        font-size: 30px;
    }

    .section main .menu__part1 .menu__part1__title h2 span {
        font-size: 20px;
    }

    .section main .menu__part1 .menu__part1__text h3 {
        font-size: 20px;
    }

    .section main .menu__part1 .menu__part1__text p {
        font-size: 18px;
    }

    .section main .menu__part2 .menu__part2__text h3 {
        font-size: 20px;
    }

    .section main .menu__part2 .menu__part2__text p {
        font-size: 18px;
    }

    .section main a {
        font-size: 25px;
        width: 25%;
        margin-top: 15%;
    }

    .section main .menu__part1,
    .section main .menu__part2 {
        width: 60%;
    }

    .section main a {
        font-size: 25px;
        width: 35%;
        margin-top: 15%;
    }

    .section footer {
        flex-direction: column;
      }

      .section footer .map {
        width: 80%;
        height: 100%;
      }
      
      .section footer .map h2 {
          padding-top: 2%;
        font-size: 20px;
      }

      .section footer .contac {
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        margin-top: 8%;
      }
}

@media only screen and (max-width: 650px) {

    .section main .menu__part1,
    .section main .menu__part2 {
        width: 80%;
    }

    .section main .menu {
        flex-direction: column;
    }

    .section main .menu__part2 .menu__part2__text h3 {
        margin-top: 1%;
    }

    .section main a {
        font-size: 18px;
        width: 25%;
        margin-top: 1%;
    }

    #section5 section .bc_left {
        width: 30%;
    }


    #section5 section .form {
        width: 70%;
        height: 100%;
        margin: 0%;
        padding: 20% 8% 13% 7%;
    }

    #section5 section .form form p {
        width: 60%;
    }
}

@media only screen and (max-width: 400px) {
    #section1 h2 {
        font-size: 30px;
    }

    #section1 h2 span {
        font-size: 15px;
    }

    #section5 section .bc_left {
        display: none;
    }


    #section5 section .form {
        width: 100%;
    }

    #section5 section .form form p {
        width: 60%;
    }

    #section5 section .form h2 {
        font-size: 25px;
    }

    
section .parallax .parallax__text h3 {
    font-size: 30px;
  }
  
  section .parallax .parallax__text span {
    font-size: 18px;
  }
  
  section .parallax .parallax__text p {
    font-size: 20px;
  }
}

@media only screen and (max-width: 300px) {
    #section1 h2 {
        font-size: 20px;
    }

    #section1 h2 span {
        font-size: 15px;
    }
}

@media only screen and (max-width: 550px) {
    .section section .posts__blocks {
        flex-wrap: wrap;
    }

    .section section .posts__blocks .posts__blocks__elem div img {
        display: none;
    }

    .section section .posts__blocks .posts__blocks__elem {
        width: 90%;
        margin-top: 8%;
        flex-direction: row;
    }

    .section section .posts__blocks .posts__blocks__elem div h3 {
        font-size: 15px;
    }

    .section section .posts__blocks .posts__blocks__elem div p {
        font-size: 12px;
    }
}