.atmosphere{
    background-image: url(../img/atmosphere_bc.jpg);
}

.cooks{
    background-image: url(../img/cooks_bc.jpg);
}

.foods{
    background-image: url(../img/vegetables_bc.jpg);
}

.menu{
    background-image: url(../img/menu_bc.jpg);
}

header { 
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

header h2 {
    font-family: Raleway;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}

header h2 span {
    display: block;
    font-family: Raleway;
    font-size: 25px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    text-transform: lowercase;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0%;
    padding: 8%;
}

main .text {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0%;
    padding: 0%;
}

main .text .text__quote {
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0%;
    padding: 0%;
}

main .text .text__quote p {
    font-family: Raleway;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    margin: 0%;
    padding: 0%;
}

main .text .text__quote span {
    font-family: TimesNewPSBoldMT;
    font-size: 16px;
    font-style: italic;
    color: #fe6000;
    margin: 0%;
    padding: 0%;
}

main .text .text__main {
    margin: 0%;
    padding: 0%;
}

main .text .text__main p {
    font-family: Raleway;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    color: #000000;
    text-indent: 20px;
}

main .photo {
    width: 30%;
    margin: 0%;
    padding: 0%;
}

main .photo img {
    width: 100%;
}

footer {
    width: 100%;
    margin: 3% 0%;
}

footer .back {
    width: 95%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer .back a {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    background-color: #fe6000;
    font-family: Lato;
    font-size: 24px;
}

footer .back a:hover {
    background-color: #000000;
    color: #ffffff;
    transition: 0.5s;
    transition-delay: 1.0s;
}

footer .back a span {
    position: absolute;
    display: block;
    background-color: #000000;
}

footer .back a span:nth-child(1) {
    left: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.25s;
}

footer .back a:hover span:nth-child(1) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.25s;
}

footer .back a span:nth-child(2) {
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
    transition-delay: 0.25s;
}

footer .back a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.25s;
    transition-delay: 0.25s;
}

footer .back a span:nth-child(3) {
    right: 0;
    bottom: 0;
    width: 1px;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.25s;
    transition-delay: 0.5s;
}

footer .back a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.25s;
    transition-delay: 0.5s;
}

footer .back a span:nth-child(4) {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.25s;
    transition-delay: 0.75s;
}

footer .back a:hover span:nth-child(4) {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 0.25s;
    transition-delay: 0.75s;
}


article{
    width: 80%;
    min-height: 100vh;
    padding: 0% 5%;
    margin: 0% auto;
}


article h2{
    text-align: center;
    font-family: Raleway;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

article .content{
    width: 100%;
}

article .content .content__chose{
    width: 80%;
    margin: 0% auto;
    padding: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
    align-items: stretch;
    justify-content: center;
}

article .content .content__chose div{
    border: 1px solid #000000;
    background-color: #ffffff;
    margin: 0%;
    padding: 0%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 00.5s all;
}

article .content .content__chose div p{
    text-align: center;
    font-family: Raleway;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    margin: 0%;
    padding: 3% 9%;
}

article .content .content__chose div:hover{
    cursor: pointer;
    background-color: #b3aaaa;
}

article .content .content__chose .active{
    background-color: #b3aaaa;
}

article .content  .content__elems{
    width: 50%;
    margin: 2% auto 0% auto;
}

article .content  .content__elems .content__elems__soups{
    margin: 10% 0% 1% 0%;
}

article .content  .content__elems .content__elems__soups div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0% 0% 4% 0%;
    padding: 0%;
    border-bottom: 1px dotted #000000;
}

article .content  .content__elems .active{
    display: block;
}

article .content  .content__elems  .no_active{
    display: none;
}

article .content  .content__elems h3{
    margin: 0%;
    padding: 0%;
    text-align: left;
    font-family: Raleway;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

article .content  .content__elems span{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15px;
}

article .content  .content__elems p{
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 15px;
}