@media only screen and (max-width: 1224px) {
    .header .header__elems img:nth-child(1) {
        left: 0;
        top: 20vh;
        width: 40%;
    }

    .header .header__elems img:nth-child(3) {
        top: 20vh;
        width: 35%;
    }

    .header .header__elems img:nth-child(2) {
        width: 80vh;
        top: 30vh;
    }

    .main .main__text .main__text_title h1 {
        font-size: 50px;
    }

    .main .main__text .main__text_title h1 span:nth-child(1) {
        font-size: 30px;
    }

    .main .main__text .main__text_title {
        width: 30%;
    }

    .main .main__text .main__text_info {
        width: 65%;
    }
}

@media only screen and (max-width: 900px) {
    .menu .menu__link ul {
        flex-direction: column;
    }

    .menu .active ul {
        display: flex;
    }

    .menu .noActive ul {
        display: none;
    }

    .menu .menu__logo {
        width: 10%;
        margin: 1% 0% 1% 5%;
    }

    .service .service__text {
        width: 90%;
        margin: 15vh auto 0% auto;
    }

    .statistics .statistics__text {
        width: 100%;
    }

    .footer .footer__text .footer__text__info ul {
        width: 100%;
    }
}

@media only screen and (max-width: 770px) {
    .header .header__elems img:nth-child(1) {
        left: 0;
        top: 50vh;
        width: 40%;
    }

    .header .header__elems img:nth-child(3) {
        top: 50vh;
        width: 35%;
    }

    .header .header__elems img:nth-child(2) {
        width: 50vh;
        top: 50vh;
    }

    .main .main__text .main__text_title h1 {
        font-size: 40px;
    }

    .main .main__text .main__text_title h1 span:nth-child(1) {
        font-size: 25px;
    }

    .gallery .gallery__title h2 {
        font-size: 40px;
    }

    .gallery .gallery__menu ul li {
        font-size: 14px;
    }

    .gallery .gallery__photo .gallery__photo_item {
        width: 33%;
    }

    .steps .steps__title h2 {
        font-size: 40px;
    }

    .steps .steps__items {
        width: 60%;
        margin: 0% auto;
    }

    .steps .steps__items .steps__items_item .steps__items_item-text h3 {
        font-size: 30px;
    }

    .steps .steps__items .steps__items_item .steps__items_item-img {
        display: none;
    }

    .steps .steps__items .steps__items_item .steps__items_item-text {
        width: 90%;
    }

    .service .service__title h2 {
        font-size: 40px;
    }

    .team .team__text {
        width: 90%;
        flex-direction: column;
    }

    .team .team__text .team__text__title {
        width: 100%;
    }

    .team .team__text .team__text__title h2 {
        font-size: 40px;
    }

    .team .team__text .team__text__inform {
        width: 100%;
        margin-top: 5%;
    }

    .team .team__person {
        width: 85%;
        margin: 5% auto 8% auto;
    }

    .reviews .reviews__title h2 {
        font-size: 40px;
    }

    .statistics .statistics__title h2 {
        font-size: 25px;
    }

    .statistics .statistics__text ul {
        flex-direction: column;
    }

    .statistics .statistics__text ul li {
        border-right: none;
        font-size: 20px;
    }

    .statistics .statistics__text ul li span {
        font-size: 15px;
    }

    .footer .footer__text form {
        width: 95%;
    }

    .footer .footer__text .footer__text__info {
        margin-top: 8%;
        width: 95%;
    }

    .footer .footer__text .footer__text__links {
        width: 95%;
    }
}

@media only screen and (max-width: 650px) {
    .main .main__items {
        width: 95%;
        margin: 0% auto;
        flex-direction: column;
        justify-content: space-between;
    }

    .main .main__items .main__items_elem p {
        font-size: 15px;
    }

    .main .main__items .main__items_elem {
        width: 60%;
        margin: 0% auto;
    }
}

@media only screen and (max-width: 550px) {
    .header .header__title h2 {
        font-size: 50px;
    }

    .header .header__elems img:nth-child(1) {
        left: 0;
        top: 50vh;
        width: 40%;
    }

    .header .header__elems img:nth-child(3) {
        top: 50vh;
        width: 35%;
    }

    .header .header__elems img:nth-child(2) {
        width: 30vh;
        top: 63vh;
    }

    .main .main__text {
        width: 95%;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .main .main__text .main__text_title {
        width: 100%;
    }

    .main .main__text .main__text_info {
        width: 100%;
    }

    .main .main__text .main__text_info p i {
        font-size: 14px;
    }

    .service .service__text {
        width: 95%;
        margin: 0% auto;
        flex-direction: column;
    }

    .service .service__text .service__text__items {
        width: 80%;
    }

    .team .team__person {
        width: 90%;
        margin: 0% auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .team .team__person .team__person__item {
        width: 30%;
        margin-top: 5%;
    }

    .reviews .reviews__slider .reviews__slider__item {
        flex-direction: column;
    }

    .reviews .reviews__slider .reviews__slider__item .slidePhoto {
        order: -1;
    }

    .footer .footer__text form input:nth-child(2),
    .footer .footer__text form input:nth-child(3) {
        width: 100%;
    }

    .footer .footer__text form input:nth-child(2) {
        margin-bottom: 0%;
    }
}

@media only screen and (max-width: 400px) {
    .header .header__title h2 {
        font-size: 40px;
    }

    .service .service__text .service__text__items p {
        font-size: 14px;
    }

    .footer {
        flex-direction: column;
    }

    .footer .footer__map {
        width: 100%;
        height: 50vh;
    }

    .footer .footer__text {
        width: 100%;
    }
}