.fp-overflow
  overflow: hidden !important
  align-items: center
  justify-content: center!important

section
  background: $color_white

  &.special-bg
    background: $color_white
    transform: scale(0.9)
