footer.footer
    .footer__wrapper
        .footer__content
            .footer__content-left
                .footer__logo
                .footer__riot-logo
                ul.footer__links
                    li.footer__links--twitter
                        a(href="#" target="_blank")
                    li.footer__links--discord
                        a(href="#" target="_blank")
                    li.footer__links--facebook
                        a(href="#" target="_blank")
                    li.footer__links--youtube
                        a(href="#" target="_blank")
                    li.footer__links--instagram
                        a(href="#" target="_blank")
            .footer__content-center
                ul.footer__info
                    li
                        a(href="#" target="_blank") Cookie prefrence
                    li
                        a(href="#" target="_blank") Term of service
                    li
                        a(href="#" target="_blank") Privacy notice
                    li
                        a(href="https://www.figma.com/community/file/1091871380801183980" target="_blank") Design

            .footer__content-right
                .footer__teen
