main.main.js-parallax-container
    .main__wrapper
        .main__info
            .main__subtitle A 5v5 CHARACTER -BASED TACTICAL SHOOTER
            h1.main__title Valorant
            .main__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tempus, turpis massa arcu blandit justo enim. Mauris dis libero leo in amet proin sagittis fringilla.
            .main__question WHY DON’T YOU TRY IT NOW ?
            button.main__btn
        .main__photo
            img(src="img/main-person.png" alt="main-photo")
            img.js-main__photo(src="img/main-person-des.png" alt="main-photo")
            span.main__text-decor.js-one-main-decor TEST YOUR SKILLS
            span.main__text-decor.js-two-main-decor 14M ACTIVE PLAYER MONTHLY