.header__skills.js-header-skills.header__skills--phoenix
    .header__skill-item
        p.header__skill-item-title BASIC
        p.header__skill-item-subtitle Twisted feed
        p.header__skill-item-text When exploded, the orb blinds all players who were looking at it at the time of the explosion.
        span.header__skill-item-skill
    .header__skill-item
        p.header__skill-item-title SIGNATURE
        p.header__skill-item-subtitle Hot hands
        p.header__skill-item-text Fireball that explodes after a delay or when it hits the ground.
        span.header__skill-item-skill
    .header__skill-item
        p.header__skill-item-title BASIC
        p.header__skill-item-subtitle Return
        p.header__skill-item-text If the skill expires, or if Phoenix dies while it is active.
        span.header__skill-item-skill
    .header__skill-item
        p.header__skill-item-title ULTIMATE
        p.header__skill-item-subtitle Inferno
        p.header__skill-item-text It obscures vision and deals damage to players passing through it.
        span.header__skill-item-skill