section.portfolio-slider
    include ./silkway.pug
    include ./pernShop.pug
    include ./tglabs.pug
    include ./tgMiniApp.pug
    include ./valorant.pug
    include ./kartApple.pug
    //include ./vueMessenger.pug
