section.portfolio-slider
    include ./valorant.pug
    include ./vueMessenger.pug
    include ./silkway.pug
    //include ./persnShop.pug
    //include ./cinemaClub.pug
    //include ./xTravelask.pug
