.slide
    .slide__content
        .slide__text
            a(href="https://kartaapple.com/" target="_blank" data-id=7) Kart Apple

            .slide__text-info
                h3 ROLES
                ul
                    li Front-end

            .slide__text-info
                h3 TECH STACK
                ul
                    li Gulp
                    li Sass
                    li JQuery
                    li WordPress
                    li Slick


        .slide__photo
            .swiper.js-portfolio-slider
                .swiper-wrapper.js-portfolio-gallery
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/kartApple/1.png"  )
                        img(src="/assets/portfolio/kartApple/1.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/2/image2.png")
                        img(src="/assets/portfolio/kartApple/2.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/3/image3.png" )
                        img(src="/assets/portfolio/kartApple/3.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/kartApple/4.png" )
                        img(src="/assets/portfolio/kartApple/4.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/kartApple/5.png")
                        img(src="/assets/portfolio/kartApple/5.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/kartApple/6.png")
                        img(src="/assets/portfolio/kartApple/6.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/kartApple/7.png")
                        img(src="/assets/portfolio/kartApple/7.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/kartApple/8.png")
                        img(src="/assets/portfolio/kartApple/8.png" alt="photo" loading="lazy")
                .swiper-button-prev.swiper-portfolio-button-prev
                .swiper-button-next.swiper-portfolio-button-next
                //.swiper-pagination.swiper-portfolio-pagination




