.slide
    .slide__content
        .slide__text
            a(href="https://pern-shop-project.onrender.com/" target="_blank") PernShop
            a(href="https://github.com/Alaront/PERN-shop" target="_blank") Code

            .slide__text-info
                h3 ROLES
                ul
                    li Front-end
                    li Back-end

            .slide__text-info
                h3 TECH STACK
                ul
                    li React.js
                    li Express.js
                    li TypeScript
                    li Sequelize
                    li Render.com


        .slide__photo
            .swiper.js-portfolio-slider
                .swiper-wrapper.js-portfolio-gallery
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image1.png"  )
                        img(src="/assets/portfolio/pernShop/image1.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image2.png")
                        img(src="/assets/portfolio/pernShop/image2.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image3.png" )
                        img(src="/assets/portfolio/pernShop/image3.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image4.png" )
                        img(src="/assets/portfolio/pernShop/image4.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image5.png")
                        img(src="/assets/portfolio/pernShop/image5.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image6.png")
                        img(src="/assets/portfolio/pernShop/image6.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image7.png")
                        img(src="/assets/portfolio/pernShop/image7.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image8.png")
                        img(src="/assets/portfolio/pernShop/image8.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image9.png")
                        img(src="/assets/portfolio/pernShop/image9.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image10.png")
                        img(src="/assets/portfolio/pernShop/image10.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image11.png")
                        img(src="/assets/portfolio/pernShop/image11.png" alt="photo" loading="lazy")
                .swiper-button-prev.swiper-portfolio-button-prev
                .swiper-button-next.swiper-portfolio-button-next




