.slide
    .slide__content
        .slide__text
            a(href="https://silkway2022.travelask.ru/" target="_blank") silkway2022

            .slide__text-info
                h3 ROLES
                ul
                    li Front-end

            .slide__text-info
                h3 TECH STACK
                ul
                    li Ruby
                    li JavaScript
                    li Slim
                    li Vite
                    li Swiper


        .slide__photo
            .swiper.js-portfolio-slider
                .swiper-wrapper.js-portfolio-gallery
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image1.png"  )
                        img(src="/assets/portfolio/silkway/image1.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image2.png")
                        img(src="/assets/portfolio/silkway/image2.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image3.png" )
                        img(src="/assets/portfolio/silkway/image3.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image4.png" )
                        img(src="/assets/portfolio/silkway/image4.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image5.png")
                        img(src="/assets/portfolio/silkway/image5.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image6.png")
                        img(src="/assets/portfolio/silkway/image6.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image7.png")
                        img(src="/assets/portfolio/silkway/image7.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image8.png")
                        img(src="/assets/portfolio/silkway/image8.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image9.png")
                        img(src="/assets/portfolio/silkway/image9.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image10.png")
                        img(src="/assets/portfolio/silkway/image10.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image11.png")
                        img(src="/assets/portfolio/silkway/image11.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image12.png")
                        img(src="/assets/portfolio/silkway/image12.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image13.png")
                        img(src="/assets/portfolio/silkway/image13.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/silkway/image14.png")
                        img(src="/assets/portfolio/silkway/image14.png" alt="photo" loading="lazy")
                .swiper-button-prev.swiper-portfolio-button-prev
                .swiper-button-next.swiper-portfolio-button-next
                //.swiper-pagination.swiper-portfolio-pagination




