.slide
    .slide__content
        .slide__text
            a(href="https://tglabs.ru/" target="_blank" data-id=3) tglabs.ru

            .slide__text-info
                h3 ROLES
                ul
                    li Front-end

            .slide__text-info
                h3 TECH STACK
                ul
                    li Vue.js
                    li TypeScript
                    li Swiper.js
                    li GSAP
                    li Scss

        .slide__photo
            .swiper.js-portfolio-slider
                .swiper-wrapper.js-portfolio-gallery
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/tglabs/1.png"  )
                        img(src="/assets/portfolio/tglabs/1.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/tglabs/2.png")
                        img(src="/assets/portfolio/tglabs/2.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/tglabs/3.png" )
                        img(src="/assets/portfolio/tglabs/3.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/tglabs/4.png" )
                        img(src="/assets/portfolio/tglabs/4.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/tglabs/5.png"  )
                        img(src="/assets/portfolio/tglabs/5.png" alt="photo" loading="lazy")
                .swiper-button-prev.swiper-portfolio-button-prev
                .swiper-button-next.swiper-portfolio-button-next




