.slide
    .slide__content
        .slide__text
            a(href="https://t.me/tglabs_agency/8" target="_blank" data-id=6) TG Mini App

            .slide__text-info
                h3 ROLES
                ul
                    li Front-end

            .slide__text-info
                h3 TECH STACK
                ul
                    li Vue
                    li TypeScript
                    li TG API
                    li Swiper


        .slide__photo
            .swiper.js-portfolio-slider
                .swiper-wrapper.js-portfolio-gallery
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/tgMiniApp/1.jpg"  )
                        img(src="/assets/portfolio/tgMiniApp/1.jpg" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/tgMiniApp/2.jpg")
                        img(src="/assets/portfolio/tgMiniApp/2.jpg" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/tgMiniApp/3.jpg" )
                        img(src="/assets/portfolio/tgMiniApp/3.jpg" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/tgMiniApp/4.jpg" )
                        img(src="/assets/portfolio/tgMiniApp/4.jpg" alt="photo" loading="lazy")
                .swiper-button-prev.swiper-portfolio-button-prev
                .swiper-button-next.swiper-portfolio-button-next
                //.swiper-pagination.swiper-portfolio-pagination




