.slide
    .slide__content
        .slide__text
            a(href="/pages/valorant/dist/index.html" target="_blank" data-id=4) Valorant
            a(href="/pages/valorant/dist/index.html" target="_blank" data-id=5) Code

            .slide__text-info
                h3 ROLES
                ul
                    li Front-end

            .slide__text-info
                h3 TECH STACK
                ul
                    li Pug
                    li JavaScript
                    li Webpack
                    li Swiper
                    li Sass


        .slide__photo
            .swiper.js-portfolio-slider
                .swiper-wrapper.js-portfolio-gallery
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/valorant/image1.png"  )
                        img(src="/assets/portfolio/valorant/image1.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/valorant/image2.png")
                        img(src="/assets/portfolio/valorant/image2.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/valorant/image3.png" )
                        img(src="/assets/portfolio/valorant/image3.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/valorant/image4.png" )
                        img(src="/assets/portfolio/valorant/image4.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/valorant/image5.png")
                        img(src="/assets/portfolio/valorant/image5.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/valorant/image6.png")
                        img(src="/assets/portfolio/valorant/image6.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/valorant/image7.png")
                        img(src="/assets/portfolio/valorant/image7.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/valorant/image8.png")
                        img(src="/assets/portfolio/valorant/image8.png" alt="photo" loading="lazy")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/valorant/image9.png")
                        img(src="/assets/portfolio/valorant/image9.png" alt="photo" loading="lazy")
                .swiper-button-prev.swiper-portfolio-button-prev
                .swiper-button-next.swiper-portfolio-button-next
                //.swiper-pagination.swiper-portfolio-pagination




