.slide
    .slide__content
        .slide__text
            a(href="https://github.com/Alaront/vue-messenger" target="_blank") VueMessenger

            .slide__text-info
                h3 ROLES
                ul
                    li Full Stack developer

            .slide__text-info
                h3 TECH STACK
                ul
                    li Nuxt.js
                    li Express.js
                    li Swiper
                    li TypeScript
                    li Sass


        .slide__photo
            .swiper.js-portfolio-slider
                .swiper-wrapper.js-portfolio-gallery
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/VueMessenger/image1.png"  )
                        img(src="/assets/portfolio/VueMessenger/image1.png" alt="photo")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/VueMessenger/image2.png")
                        img(src="/assets/portfolio/VueMessenger/image2.png" alt="photo")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/VueMessenger/image1.png" )
                        img(src="/assets/portfolio/VueMessenger/image1.png" alt="photo")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/VueMessenger/image2.png" )
                        img(src="/assets/portfolio/VueMessenger/image2.png" alt="photo")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/VueMessenger/image1.png")
                        img(src="/assets/portfolio/VueMessenger/image1.png" alt="photo")
                .swiper-button-prev.swiper-portfolio-button-prev
                .swiper-button-next.swiper-portfolio-button-next




