.slide
    .slide__content
        .slide__text
            a(href="https://x.travelask.ru" target="_blank") x.travelask

            .slide__text-info
                h3 ROLES
                ul
                    li Front-end
                    li Back-end

            .slide__text-info
                h3 TECH STACK
                ul
                    li Nuxt.js
                    li Swiper.js
                    li Sass
                    li Node.js

        .slide__photo
            .swiper.js-portfolio-slider
                .swiper-wrapper.js-portfolio-gallery
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image1.png"  )
                        img(src="/assets/portfolio/pernShop/image1.png" alt="photo")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image2.png")
                        img(src="/assets/portfolio/pernShop/image2.png" alt="photo")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image3.png" )
                        img(src="/assets/portfolio/pernShop/image3.png" alt="photo")
                    a.swiper-slide.slide__photo-item(data-src="/assets/portfolio/pernShop/image4.png" )
                        img(src="/assets/portfolio/pernShop/image4.png" alt="photo")
                .swiper-button-prev.swiper-portfolio-button-prev
                .swiper-button-next.swiper-portfolio-button-next




