section.about.section
    .about__wrapper
        .about__text-wrapper
            h4.about__title
                | WEB —
                br
                | developer

            p.about__text Hello, my name is Alexander. I am a Front-end software developer. I enjoy programming, learning and doing something amazing

