footer.footer
    .footer__wrapper
        h2.footer__title CONTACT
        .footer__links
            a.footer__git(href="https://github.com/Alaront/" target="_blank")
                img(src="/assets/img/github-mark.svg" alt="alaront-git" width=102 height=102)
            a.footer__hubr(href="https://career.habr.com/alaront" target="_blank")
                img(src="/assets/img/habr-svgrepo-com.svg" alt="alaront-git" width=135 height=135)
        a.footer__email(href="mailto:alaront.work@gmail.com") alaront.work@gmail.com


