if process.env.NODE_ENV === 'production'
    // Yandex.Metrika counter
    script
        include ../../scripts/metrika.js

    noscript
        div
            img( src="https://mc.yandex.ru/watch/96345008" style="position:absolute; left:-9999px;" alt="" )

    // Yandex.Metrika counter
