section.portfolio.section
    .portfolio__wrapper
        .portfolio__content
            .portfolio__text
                h5 Portfolio
                p
                    | Several of my projects
                    br
                    | As well as commercial projects that I did from scratch or took part in the development

            ul.portfolio__items
                li
                    a(href="#") x.travelask
                li
                    a(href="#") silkway
                li
                    a(href="#") valorant
                li
                    a(href="#") CinemaClub
                li
                    a(href="#") PERN-shop
